/**
 * Season 1
 */
$s1-btn-skew: -15deg;

/**
 * Season 2
 */
$s2-primary: #FF3C00;
$s2-secondary: #FF8700;
$s2-tertiary: #FFCD00;
$s2-grey-dark: #333;
$s2-lsb: #FFC600;
$s2-lsb-deep: #E6AA2D;

/**
 * Kart 15th
 */
// None

/**
 * Season 3
 */
$s3-primary: #8119EB;
