/**
 * Theme for Kart 15th
 */
.kart-15th {
  font-family: Roboto, 'Noto Sans TC', 'Microsoft JhengHei', PingFang, sans-serif;

  ::selection {
    background: var(--v-primary-base);
  }
  // Buttons
  .v-btn:not(.v-btn--outlined).primary .v-btn__content,
  // Paginations
  .theme--dark.v-pagination .v-pagination__item--active.primary {
    color: var(--v-secondary-base);
  }
}
