/**
 * Theme for season 1
 */
.v-application.season-1 {

  // Remove some used element's border radius, was originally set with $border-radius-root in variable.scss
  // Buttons
  .v-btn:not(.v-btn--round),
  // Cards (YouTube)
  .v-card.v-sheet,
  // Alerts
  .v-alert,
  // Tooltips
  .v-tooltip__content {
    border-radius: 0;
  }
  // Skew the button
  .v-btn:not(.v-btn--round) {
    transform: skew($s1-btn-skew);

    .v-btn__content {
      transform: skew(-$s1-btn-skew);
    }
    &.v-btn--action {
      $width: 5px;

      &::after {
        position: absolute;
        top: 0;
        right: -$width - 8px;
        z-index: -1;
        width: $width;
        height: 100%;
        content: '';
        background-color: inherit;
        transition: .2s right ease-in-out, .1s .2s box-shadow;
      }
      &:hover {

        &::after {
          right: 0;
          box-shadow: none;
          transition-delay: 0s, 0s;
        }
      }
    }
  }
}
