@import '~assets/styles/rsl/season1';
@import '~assets/styles/rsl/season2';

/**
 * Custom helper class
 */
.fill-width {
  width: 100%;
}

/**
 * Single post content
 */
.post-content {
  $base-distance: 20px;

  * {
    border: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: $base-distance 0 $base-distance / 2;

    &:first-child {
      margin-top: 0;
    }
  }
  hr {
    margin: $base-distance 0;
    border: 1px solid #DDD;
  }
  ul,
  ol {
    margin: 0 0 $base-distance $base-distance;

    @include breakpoint(sm) {
      padding-left: 0 !important;
    }
  }
  blockquote {
    padding: 8px 0 8px $base-distance;
    margin: $base-distance 0;
    border-left: 3px solid var(--v-primary-base);
  }
  pre {
    padding: 10px 15px;
    margin: $base-distance 0;
    overflow: auto;
    border: 2px solid var(--v-primary-base);
  }
  iframe {
    display: block;
    width: 100%;
    height: 800px;
    margin-bottom: $base-distance;
    border: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
  img,
  .v-image {
    max-width: 100%;
    height: auto !important;
  }
  .aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .responsive-embed {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    margin: 10px 0;
    overflow: hidden;
  }
  .responsive-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
