@import '~assets/styles/rsl/season1';
@import '~assets/styles/rsl/season2';
@import '~assets/styles/rsl/kart15th';
@import '~assets/styles/rsl/season3';

/**
 * Custom helper class
 */
.fill-width {
  width: 100%;
}

/**
 * Iframe
 */
iframe {
  border: 0;
}

/**
 * Single post content
 */
.post-content {
  $base-distance: 20px;

  line-height: 1.7;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  ul,
  ol,
  blockquote,
  pre,
  table,
  .v-data-table,
  img,
  .v-image,
  iframe,
  .responsive-embed {
    margin-bottom: $base-distance;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.5;
  }
  hr {
    border: 1px solid #DDD;
  }
  ul,
  ol {
    padding-left: $base-distance * 2 !important;

    @include breakpoint(md) {
      padding-left: $base-distance !important;
    }
  }
  blockquote {
    padding: 8px 0 8px $base-distance;
    border-left: 3px solid var(--v-primary-base);
  }
  pre {
    padding: 10px 15px;
    overflow: auto;
    border: 2px solid var(--v-primary-base);
  }
  table {

    @include breakpoint(sm) {
      white-space: nowrap;
    }
  }
  img,
  .v-image {
    max-width: 80%;
    height: auto !important;

    @include breakpoint(md) {
      max-width: 100%;
    }
  }
  iframe {
    display: block;
    width: 100%;
    height: 800px;
  }
  .responsive-embed {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }
  .responsive-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
  .aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
