$btn-skew: -15deg;

.v-btn:not(.v-btn--round) {
  transform: skew($btn-skew);

  .v-btn__content {
    transform: skew(-$btn-skew);
  }
  &.v-btn--action {
    $width: 5px;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: -$width - 8px;
      height: 100%;
      width: $width;
      background-color: inherit;
      transition: .2s right ease-in;
      z-index: -1;
    }
    &:hover {
      &:after {
        right: 0;
      }
    }
  }
}